@use '../_col' as col

main
  width: 65%
  background-color: col.$White
  margin: auto
  height: fit-content
  padding: 1em
  border-radius: 10px
  box-shadow: 0 5px 10px 0 hsl(231deg 11% 63% / 8%)
  display: flex
  justify-content: space-between
  app-side-bar
    display: block
    width: fit-content
    margin-right: 2em
  app-form
    // background-color: black
    padding-right: 4em
    width: 60%
  