<div class=" h-full flex flex-col justify-between">
  <div>
    <div class="mb-8">
      <h2 class="text-3xl font-bold text-primary-marine-blue mb-4">Select your plan</h2>
      <p class="opacity-50">You have the option of monthly or yearly billing.</p>
    </div>
    <div class="flex justify-between mb-8">
      @for (item of plans; track $index) {
        <div class="w-[30%]">
          <app-plans [plan]="item" [htmlString]="svgs[$index]"/>
        </div>
      }
    </div>
    <div class="py-4 w-full bg-primary-purplish-blue/5 rounded-lg">
      <div class="flex w-2/5 m-auto justify-between items-center font-medium text-base cursor-pointer">
        <p (click)="changePlan(true)">Monthly</p>
        <div 
          class="p-1 w-14 bg-primary-marine-blue box-border rounded-full mx-2"
          (click)="changePlan()">
          <div 
            [class]="'aspect-square w-2/5 bg-white rounded-full duration-300 ease-in' + (active ? ' ' : ' float-right')"
          ></div>
        </div>
        <p (click)="changePlan(false)">Yearly</p>
      </div>
    </div>
  </div>
  <div class="w-full h-fit flex justify-between">
    <app-button-prev link="/info"/>
    <app-button-next (click)="update()"/>
  </div>
</div>
